.jumbotron.header {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
    background: #004477;
    color: #ffffff;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}
